@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="AddFile" asp-controller="Home" method="post" enctype="multipart/form-data">
    <input type="file" name="uploadedFile" /><br>
    <input type="text" name="avatarType" /><br>
    <input type="submit" value="Загрузить" />
</form>
